html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'retro';
  src: url('fonts/Monoton-Regular.ttf');
}

@font-face {
  font-family: 'retro2';
  src: url('fonts/Lobster.otf');
  src: url('fonts/Lobster.ttf');
}

.retro-fonts{
  font-family: 'Changa One';
}

.retro2-fonts{
  font-family: 'PT Sans';
}

body {
    background-color: #282a2d;
    background-repeat: repeat;
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.2rem;
    margin: 0;
    overflow: hidden;
    perspective: 1000px;
    text-transform: uppercase;
  }

  .bg-menu{
    /* background: #fff !important;
    opacity: 1 !important;
    color: #010101 !important;
    padding: 0px 10px;
    border-radius: 5px;
    text-align: center; */
    font-size: 25px;
  }

  .flex-row__center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-sub-h4{
    color: black;
    background: #fff;
    width: 250px;
    margin: auto;
    border-radius: 2px;
    padding: 5px 0px;
    font-size: 12px;
    font-weight: 400;
  }

  .max-height-100vh{
    max-height: 100vh;
  }

  .overflow-hidden{
      overflow: hidden;
  }

  .site-wrap {
    transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .site-wrap.show-all {
    transform: rotateY(-15deg) scale(0.2);
  }
  .panel-wrap {
    height: 100vh;
    width: 100vw;
  }
  h1 {
    font-size: 20vmin;
    margin: 0;
  }
  .panel-wrap {
    perspective: 2000px;
    transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .panel-wrap.animate--shrink,
  .panel-wrap.animate--tilt,
  .panel-wrap.animate--tilt2 {
    transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1) 0.3s;
  }
  .panel {
    height: 100vh;
    position: absolute;
    transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    width: 100vw;
    will-change: transform;
    background: #111111;
  }
  .panel:before {
    background-color: transparent;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: 2;
  }
  .show-all .panel:before {
    pointer-events: all;
  }
  .show-all .panel:hover:before {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
  .animate--shrink.animate .panel {
    transform: scale(0.9);
  }
  .animate--tilt.animate .panel {
    transform: scale(0.6) rotateY(-25deg);
  }
  .animate--tilt2.animate .panel {
    transform: scale(0.8) rotateX(25deg);
  }
  .panel h1 {
    cursor: default;
    left: 50%;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    user-select: none;
  }
  .panel .main-title {
    cursor: default;
    left: 50%;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    user-select: none;
  }
  .panel[data-x-pos="-2"] {
    left: -200%;
  }
  .panel[data-x-pos="-1"] {
    left: -100%;
  }
  .panel[data-x-pos="1"] {
    left: 100%;
  }
  .panel[data-x-pos="2"] {
    left: 200%;
  }
  .panel[data-y-pos="-2"] {
    top: 200%;
  }
  .panel[data-y-pos="-1"] {
    top: 100%;
  }
  .panel[data-y-pos="1"] {
    top: -100%;
  }
  .panel[data-y-pos="2"] {
    top: -200%;
  }
  .panel__zoom {
    cursor: pointer;
    left: 50%;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) translateY(-12vmin);
    transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    user-select: none;
    z-index: 10;
  }
  .panel__zoom:hover {
    opacity: 1;
  }
  .show-all .panel__zoom {
    pointer-events: none;
  }
  .panel__nav {
    cursor: pointer;
    opacity: 0.2;
    position: absolute;
    transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    user-select: none;
    will-change: opacity;
  }
  .panel__nav--up {
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
  }
  .panel__nav--left {
    left: 1rem;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg) translateX(-100%);
    transform-origin: top left;
  }
  .panel__nav--left-top {
    left: 1rem;
    top: 1rem;
  }
  .panel__nav--left-down {
    bottom: 1rem;
    left: 1rem;
  }
  .panel__nav--right {
    right: 1rem;
    top: 50%;
    transform: translateY(-50%) rotate(90deg) translateX(100%);
    transform-origin: top right;
  }
  .panel__nav--right-top {
    right: 1rem;
    top: 1rem;
  }
  .panel__nav--right-down {
    bottom: 1rem;
    right: 1rem;
  }
  .panel__nav--down {
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .panel__nav:hover {
    opacity: 1;
  }
  .panel__animation-list {
    font-size: 3.3vmin;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) translateY(14vmin);
  }
  .panel__animation-list span {
    cursor: pointer;
    display: inline-block;
    opacity: 0.2;
    position: relative;
    transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    user-select: none;
  }
  .panel__animation-list span:after {
    border-bottom: 0.3vmin solid transparent;
    bottom: 0;
    content: "";
    left: -1px;
    position: absolute;
    right: 0;
    transition: border-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    width: 100%;
  }
  .panel__animation-list span.active,
  .panel__animation-list span:hover {
    opacity: 1;
  }
  .panel__animation-list span.active:after,
  .panel__animation-list span:hover:after {
    border-color: white;
  }
  

/* ======================= PARALLAX */
.z-index-99{
    z-index: 99;
}

  body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "proxima-nova-soft", sans-serif;
    -webkit-user-select: none;
    overflow: hidden;
  }
  body .vertical-centered-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  body .vertical-centered-box:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  body .vertical-centered-box .content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
  }
  * {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  body {
    background: #2c2d44;
  }
  .loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    margin-left: -60px;
    margin-top: -60px;
  }
  .loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    -webkit-transform-origin: 60px 60px;
    -moz-transform-origin: 60px 60px;
    -ms-transform-origin: 60px 60px;
    -o-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    -webkit-animation: rotate 1.2s infinite linear;
    -moz-animation: rotate 1.2s infinite linear;
    -o-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear;
  }
  .loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  }
  #particles-background,
  #particles-foreground {
    left: -51%;
    top: -51%;
    width: 202%;
    height: 202%;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    -moz-transform: scale3d(0.5, 0.5, 1);
    -ms-transform: scale3d(0.5, 0.5, 1);
    -o-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  #particles-background {
    background: #2c2d44;
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
  }
  lesshat-selector {
    -lh-property: 0; } 
  @-webkit-keyframes rotate{ 0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg);}}
  @-moz-keyframes rotate{ 0% { -moz-transform: rotate(0deg);} 100% { -moz-transform: rotate(360deg);}}
  @-o-keyframes rotate{ 0% { -o-transform: rotate(0deg);} 100% { -o-transform: rotate(360deg);}}
  @keyframes rotate{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}}
  [not-existing] {
    zoom: 1;
  }
  lesshat-selector {
    -lh-property: 0; } 
  @-webkit-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  @-moz-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  @-o-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  @keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  [not-existing] {
    zoom: 1;
  }
  lesshat-selector {
    -lh-property: 0; } 
  @-webkit-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  @-moz-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  @-o-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  @keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  [not-existing] {
    zoom: 1;
  }
  /* ======================= PARALLAX */


.js-zoom{
  color: #909090;
}
.js-zoom:hover{
  cursor: pointer;
  color: #fff;
}

.div-container{
  width: 90%;
  height: 90%;
  overflow-y: auto;
}

.bg-exp{
  /* background:#293462; */
  background: #4c0f0f url(bg/groovepaper.png);
}

.title-exp{
  font-size: 72px;
  word-break: break-word;
  color: #f76262;
  /* color: #3c3c3c; */
  /* color: #f9e2c4; */
  /* border-bottom: solid 2px;
  border-top: solid 2px; */
  padding: 20px;
  padding-top: 0px;

  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px 0 #3c3c3c, -1px -1px 0 #3c3c3c, 1px -1px 0 #3c3c3c, -1px 1px 0 #3c3c3c, 1px 1px 0 #3c3c3c;
}

.retro-view{
  font-family: "Pacifico", cursive;
  text-transform: none;
  color: #7b7b7b;
}
/* .retro-view:hover{
  cursor: pointer;
  color: #b30d0d;
} */

.line-1 {
  position: relative;
  font-family: "Pacifico", cursive;
  text-transform: none;
  color: #3c3c3c;
}
.line-1:before, .line-1:after {
  font-family: FontAwesome;
  /* content: '\f005'; */
  content: "-";
  position: relative;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 16px;
  margin: 0 30px;
  top: -5px;
}

.div-exp{
  border-top: solid 8px #3c3c3c;
  background: url("bg/bg_rust.jpg") #e5d8c7;
  /* background: #4c0f0f url(bg/groovepaper.png); */
  position: relative;
}

.exp-layer {
  /* background-color: #ffecab52; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.div-exp-layer {
  /* background-color: #ffecab52; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.sub-exp{
  text-align: center;
  text-transform: uppercase;
  color: #3c3c3c;
  margin-bottom: 0px;
  padding: 32px 0px;
  font-size: 14px;
  letter-spacing: 12px;
  position: relative;
}

.sub-exp:before, .sub-exp:after {
  content: " ";
  position: absolute;
  width: 50px;
  height: 5px;
  border-top: 1px solid #585858;
  border-bottom: 1px solid #585858;
}
.sub-exp:before {
  margin: 5px 0 0 -60px;
}
.sub-exp:after {
  margin: 5px 0 0 10px;
}

.div-content-exp{
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  color: #293562;
  width: 90%;
  padding-left: 0;
  padding-right: 0;
  word-break: break-word;
  border-left: solid 4px #525d63;
}

.company-exp{
  word-break: initial;
  font-family: "Fjalla One";
  transform: skew(-13deg) rotate(-3deg);
  /* font-family: "Passion One"; */
  text-align: left;
  color: #525d62;
  /* color: #216583; */
  padding-left: 25px;
  letter-spacing: 4px;
  font-size: 40px;
  font-weight: 600;
  padding-top: 15px;
  /* text-shadow: 1px 1px #d8d2c1, 2px 2px #af9284; */
  text-shadow: 2px 3px #f0e7d6, 4px 5px #c6a39a;
  margin-bottom: 35px;
}

.red-retro{
  color: #700000;
}
.no-decor{
  text-transform: none;
}

.role-exp{
  /* background: #4c0f0f url(bg/groovepaper.png); */
  font-family: "Passion One";
  text-shadow: 1px 1px #d8d2c16b, 2px 2px #af928487;
  /* font-family: 'Courier Prime', monospace; */
  /* letter-spacing: 1px; */
  padding: 3px 10px;
  font-size: 14px;
  /* background: #f3ebd9; */
  color: #525d62;
  margin-left: 5px;
  text-transform: uppercase;
  margin-left: 25px;
  /* text-decoration: underline; */
  border: solid 2px #525d62;
  /* font-weight: 600; */
}
.role-exp>h4{
  margin-bottom: 0px;
  font-size: 18px;
  /* transform: skewX(15deg); */
  /* font-weight: 600; */
}

.desc-exp{
  /* background: #4c0f0f url(bg/groovepaper.png); */
  /* background: #efe8d8; */
  font-family: 'Courier Prime', monospace;
  text-align: left;
  text-transform: none;
  letter-spacing: 0px;
  border: solid 1px #525d6247;
  margin-left: 25px;
  margin-top: 50px;
  padding: 20px;
  color: #40484c;
  line-height: 35px;
}

/* .desc-exp{
  font-family: 'Courier Prime', monospace;
  padding-left: 25px;
  padding-top: 20px;
  text-align: left;
  text-transform: none;
  letter-spacing: 1px;
} */

.timeline-date{
  color: #fff1c0;
  text-transform: capitalize;
  letter-spacing: 0px;
  background: #525d63;
  padding: 3px 15px;
  font-size: 14px;
  text-align: left;
}

.bg-profile{
  background:#191919;
}

.div-title{
  background: #ffb94b4f;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  flex-direction: column;
}

.div-main__profile{
  text-align: center;
  padding-top: 10px;
}

.div-profile__word{
  margin-top: 40px;
}

.profile__word{
  width: 80%;
  margin: 0 auto;
  text-align: left;
  text-transform: none;
  letter-spacing: 2px;
  line-height: 1.5;
  font-size: 16px;
}

.profile__social_link{
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 50px;
}

.social_hover:hover{
  cursor: pointer;
  color: #fdc357;
}

.scroll-down {
	left: 50%;
	bottom: 10px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}
.scroll-down:hover {
  cursor: pointer;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}


@media only screen and (max-width: 600px) {
  .title-exp {
    font-size: 42px;
  }

  .company-exp {
    font-size: 34px;
  } 

  .sub-exp {
    text-align: center;
    text-transform: uppercase;
    color: #3c3c3c;
    margin-bottom: 0px;
    padding: 32px 0px;
    font-size: 14px;
    letter-spacing: 4px;
  }
}