.center-v-h{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#particle-canvas {
  width: 100%;
  height: 100%;
}
  
  html {
    background-color: #ebebeb;
  }
  
  body {
    /* width: 480px;
    height: 100vh; */
    margin: 0 auto;
    background-color: #fff;
  }
  
  nav{
    display: flex;
    justify-content: space-around;
    background-color: #222222db;
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    border: solid 1px #d0a85f;
  }
  
  .nav-item{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d0a85f;
    padding: 5px 16px;
    border-radius: 10px;
  }

  .nav-item:hover{
    align-items: center;
    text-decoration: none;
    color: white;
  }
  
  .nav-item span{
    width: 0;
    overflow: hidden;
  }
  
  .active_link{
    text-decoration: none;
    color: #fff;
    background-color: #d0a85f;
    transition: .2s;
  }
  
  .active_link span{
    width: 100%;
    margin-left: 8px;
    transition: .2s;
  }
  
  *:focus{
    outline: none;
    border: none;
  }

  .phone-view{
    max-width: 900px;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .phone-view nav{
    max-width: 876px;
    width: 90%;
    border-radius: 10px;
    bottom: 20;
  }

  ul#nav{padding:0;}

  canvas{
    background: #000000a8;
  }

  .title_photo{
    z-index: 10;
    /* position: absolute;
    top: 50%; */
    width: 100%;
    text-align: center;
    font-family: 'Tangerine', cursive;
  }

  .title_photo h1{
    color: #d0a85f;
  }

  .header_photo{
    width: 70% !important;
    margin: 0 auto;
    /* margin-top: 30px; */
  }

  .title_header{
    text-align: center;
    color: #d0a85f;
    font-family: 'Comfortaa', cursive;
  }

  .img_thumb_lightbox{
    border: solid 2px #d0a85f;
    border-radius: 15px;
  }

  .location_text{
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px 20px;
    /* background: #37394b; */
    border: solid 1px #d0a85f;
    border-radius: 10px;
    color: #aaaaaa;
  }

  .form-group{
    margin-bottom: 20px;
  }

  .form-group > label{
    margin-bottom: 10px;
  }

  .form-control{
    border: 1px solid #d0a85f !important;
    background-color: #1f2029 !important;
  }